.yii2-json-form .empty {
    display: none;
}
.yii2-json-form .block {
    font-size: 0;
    padding-bottom: 10px;
}
.yii2-json-form .form-control {
    width: 44%;
    display: inline-block;
    vertical-align: top;
}
.yii2-json-form .spinner {
    width: 1%;
    display: inline-block;
}
.yii2-json-form .btn-danger, .yii2-json-form .btn-success {
    width: 10%;
    vertical-align: top;
}
.yii2-json-form .add-block {
    text-align: right;
}
.yii2-json-form .btn {
    min-height: inherit;
}
.has-error .yii2-json-form .add-block .btn {
    border: 1px solid #F82A5A;
}
form .form-group.has-error-json .block input:first-child {
    border: 1px solid #F82A5A;
}
form .form-group.has-error.has-error-json .block input:last-child {
    border: 1px solid #CCCCCC;
}
@media (max-width: 660px) {
    .form-group .yii2-json-form .btn {
        width: inherit;
    }
    .yii2-json-form .form-control {
        width: 100%;
    }
    .yii2-json-form .spinner {
        display: none;
    }
    form .yii2-json-form input:last-child {
        border-top: none !important;
    }
    .yii2-json-form .btn {
        margin-top: 5px;
    }
    .yii2-json-form .add-block .btn {
        margin-top: 0;
    }
}